.transfers-list-two {
    max-width: 400px;
    width: 100%;
    min-height: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.transfer-list2 {
    flex: 1;
}
.transfer-list2-actions {
    width: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}
.items-header {
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 4px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 4px;
}
li {
    display: flex;
    gap: 8px;
    align-items: center;
}
