.input-group {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.input-group > input {
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #fff;
}

.input-group > input:focus {
    outline-color: orange;
}

.input-group > .error {
    border: 2px solid red !important;
}

.input-group > .submitting {
    opacity: 0.5;
}

.input-group > input:disabled {
    opacity: 0.5;
}

.button-group {
    display: flex;
    gap: 4px;
}
.button-group > button {
    flex: 1;
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: inherit;
    border-radius: 0.5rem;
    font-weight: bold;
}

.button-group > button[type="reset"] {
    border: 1px solid black;
}
.button-group > button[type="submit"] {
    background-color: green;
    color: white;
}

.button-group > button:disabled {
    opacity: 0.5;
}
