ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
}

li {
    padding: 0;
}

.file {
    padding: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.file:hover {
    background-color: #ccc;
}

.actions {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    flex: 1;
}

.file:hover .actions {
    opacity: 1;
}

.filename {
    font-size: 18px;
    border: none;
    background-color: transparent;
    min-width: 0px;
    flex: 1;
    text-align: left;
}
